App {
	width: 114;
	height: 32;
}

Footer {
	height: 1;
}

#tst_log {
	background: darkblue;
}

#complex {
	layout: grid;
	grid-size: 2
}

Input {
	border: solid yellow;
}

.mylabels
{
	margin: 1 0 0 0;	
}


.table {
	 height: 5fr;
}

.box {
    border: double yellow;
    height: 1fr;
}

Switch {
    height: auto;
    width: 14;
    align: right bottom;
    border: solid yellow;
}

#config {
	layout: grid;
    grid-size: 2 2;
}

#capyure_controls {
	layout: grid;
    grid-size: 2 2;
}